body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sm {
  max-width: 540px;
}

.title {
  text-align: center;
  margin-top: 10vh;
}

/* FORM */

form.auth-modal {
  padding: 2rem;
  border: 3px solid black;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.link:hover {
  text-decoration: none;
}

.auth-modal {
  display: none;
}
.auth-modal.active {
  display: block;
}

.error-container {
  display: none;
}

.error-container.active {
  display: block;
}

/* Dashboard */

.dashboard {
  display: none;
}

.dashboard.active {
  display: block;
  padding: 1rem;
}

form.dashboard-form {
  border: none;
}
